html,
body {
  margin: 0;
  font-family: 'Lora', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--color-foreground);
  font-size: 32px;
}

* {
  box-sizing: border-box;
}

:root {
  --color-background: #fed;
  --color-foreground: #323248;
  --color-blue-1: #424261;
  --color-blue-2: #37375f;
  --color-blue-3: #43437c;
  --color-blue-4: #323248;
  --color-orange-1: rgb(241, 184, 114);
  --color-orange-2: rgb(240, 169, 111);
  --color-orange-3: rgb(245, 213, 125);
}

section {
  padding: 64px;
  min-height: 98vh;
  border-bottom: 4px solid currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section > p {
  max-width: 800px;
}

h1 {
  font-weight: 600;
  font-style: italic;
  font-size: 5rem;
  text-align: center;
}

@media(max-width: 720px) {
  body {
    font-size: 18px;
  }
}

p {
  line-height: 1.5;
  text-align: center;
}

a {
  color: var(--color-blue-2);
}

a:visited {
  color: var(--color-blue-3);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
}
